<!-- include header -->
<%- include(`include/_header`) %> 
<!-- /include header -->

<!-- Main Site-->
<main id = "site-main">
    <div class = "container">
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>All Forms</a>
            </div>
        </div>
    <div class = "form-title text-center">
        <h2 class = "text-dark">Update Form</h2>
    </div>

    <!-- Form Handling-->
    <!-- Section1-->
    <form method="POST" id="UpdateSection1">
        <h2 class="text-dark">Section I: Identification</h2><br>
        <div class="form-group row">
            <label for="facility_id" class="col-sm-2 col-form-label">Facility ID</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="facility_id" value="" placeholder=>
            </div>
        </div>
        <div class="form-group row">
            <label for="facility_name" class="col-sm-2 col-form-label">Facility Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="facility_name" value="" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="taluka" class="col-sm-2 col-form-label">Taluka</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="taluka" value="" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="facility_incharge" class="col-sm-2 col-form-label">Name of Facility In-charge:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="facility_incharge" value="" placeholder="">
            </div>
        </div>
        <div class="form-group row">
            <label for="facility_name" class="col-sm-2 col-form-label">Facility Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="facility_name" value="" placeholder="">
            </div>
        </div>
    </form>
    
    <!-- Section2-->
    <form method="POST" id="UpdateSection2">
        <h2 class="text-dark">Section II: Monthly Performance %</h2><br>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="opdAttendance">OPD Attendance</label>
                <input type="text" class="form-control" id = opdAttendance placeholder="Monthly Target">
            </div>
            <div class="form-group col-md-5">
                <label for="opdAttendance1">&nbsp</label>
                <input type="text" class="form-control" id = opdAttendance1 placeholder="Performance">
            </div>                
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="measlesVaccine">Children < 12 months received 1st Measles vaccine </label>
                <input type="text" class="form-control" id = measlesVaccine placeholder="Monthly Target">
            </div>
            <div class="form-group col-md-5">
                <label for="measlesVaccine1">&nbsp</label>
                <input type="text" class="form-control" id = measlesVaccine1 placeholder="Performance">
            </div>                
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="opdAttendance">Antenatal Care (ANC-1) coverage</label>
                <input type="text" class="form-control" id = opdAttendance placeholder="Monthly Target">
            </div>
            <div class="form-group col-md-5">
                <label for="opdAttendance1">&nbsp</label>
                <input type="text" class="form-control" id = opdAttendance1 placeholder="Performance">
            </div>                
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="opdAttendance">Total FP clients (New + Follow-up)</label>
                <input type="text" class="form-control" id = opdAttendance placeholder="Monthly Target">
            </div>
            <div class="form-group col-md-5">
                <label for="opdAttendance1">&nbsp</label>
                <input type="text" class="form-control" id = opdAttendance1 placeholder="Performance">
            </div>                
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="opdAttendance">Delivery coverage at facility</label>
                <input type="text" class="form-control" id = opdAttendance placeholder="Monthly Target">
            </div>
            <div class="form-group col-md-5">
                <label for="opdAttendance1">&nbsp</label>
                <input type="text" class="form-control" id = opdAttendance1 placeholder="Performance">
            </div>                
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="opdAttendance">Monthly report data accuracy</label>
                <input type="text" class="form-control" id = opdAttendance placeholder="Monthly Target">
            </div>
            <div class="form-group col-md-5">
                <label for="opdAttendance1">&nbsp</label>
                <input type="text" class="form-control" id = opdAttendance1 placeholder="Performance">
            </div>                
        </div>
    </form>

    <!-- Section3-->
    <form method="POST" id="UpdateSection3">
        <h2 class="text-dark">Section III: Outpatients Attendance (From OPD Register)</h2><br>
        <h4 class="text-dark">Male</h4><br>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="male1month"> < 1 Month </label>
                <input type="text" class="form-control" id = male1month placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="male1211"> 1-11 Months </label>
                <input type="text" class="form-control" id = male1211 placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="male124yr"> 1-4 Years </label>
                <input type="text" class="form-control" id = male124ye placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="male5214yr"> 5-14 years </label>
                <input type="text" class="form-control" id = male5214yr placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="male15249yr"> 15-49 years </label>
                <input type="text" class="form-control" id = male15249yr placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="male50yr"> 50+ years </label>
                <input type="text" class="form-control" id = male50yr placeholder="0">
            </div>
            <div class="form-group col-md-4">
                <label for="maleTotal"> Total </label>
                <input type="text" class="form-control" id = maleTotal placeholder="0">
            </div>
        </div>

        <h4 class="text-dark">Female</h4><br>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="female1month"> < 1 Month </label>
                <input type="text" class="form-control" id = female1month placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="female1211"> 1-11 Months </label>
                <input type="text" class="form-control" id = female1211 placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="female124yr"> 1-4 Years </label>
                <input type="text" class="form-control" id = female124ye placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="female5214yr"> 5-14 years </label>
                <input type="text" class="form-control" id = female5214yr placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="female15249yr"> 15-49 years </label>
                <input type="text" class="form-control" id = female15249yr placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="female50yr"> 50+ years </label>
                <input type="text" class="form-control" id = female50yr placeholder="0">
            </div>
            <div class="form-group col-md-4">
                <label for="femaleTotal"> Total </label>
                <input type="text" class="form-control" id = femaleTotal placeholder="0">
            </div>
        </div>

        <h4 class="text-dark">Grand Total</h4><br>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="gt1month"> < 1 Month </label>
                <input type="text" class="form-control" id = gtmale1month placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="gt1211"> 1-11 Months </label>
                <input type="text" class="form-control" id = gtmale1211 placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="gt124yr"> 1-4 Years </label>
                <input type="text" class="form-control" id = gt124ye placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="gt5214yr"> 5-14 years </label>
                <input type="text" class="form-control" id = gt5214yr placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="gt15249yr"> 15-49 years </label>
                <input type="text" class="form-control" id = gt15249yr placeholder="0">
            </div>
            <div class="form-group col-md-2">
                <label for="gt50yr"> 50+ years </label>
                <input type="text" class="form-control" id = gt50yr placeholder="0">
            </div>
            <div class="form-group col-md-4">
                <label for="gtTotal"> Grand Total </label>
                <input type="text" class="form-control" id = gtTotal placeholder="0">
            </div>
        </div>
        <div class="form-group row">
            <label for="followupCases" class="col-sm-4 col-form-label">Follow-up cases</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="followupCases" value="" placeholder="0">
            </div>
        </div>
        <div class="form-group row">
            <label for="referredCasesAttended" class="col-sm-4 col-form-label">Referred Cases Attended</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="referredCasesAttended" value="" placeholder="0">
            </div>
        </div>
        <div class="form-group row">
            <label for="malnutrition" class="col-sm-4 col-form-label">No. of cases of Malnutrition < 5 Yrs
                children (Acute (low weight for age) )</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="malnutrition" value="" placeholder="0">
            </div>
        </div>
        <div class="form-group row">
            <label for="malnutrition1" class="col-sm-4 col-form-label">No. of cases of Malnutrition < 5 Yrs children (Acute -
                MUAC < 12.5 cm) </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="malnutrition1" value="" placeholder="0">
            </div>
        </div>
        <div class="form-group row">
            <label for="malnutrition2" class="col-sm-4 col-form-label">No. of cases of Malnutrition < 5 Yrs
                children (Chronic (short height for age) </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="malnutrition2" value="" placeholder="0">
            </div>
        </div>
        <div class="form-group row">
            <label for="totalHomeo" class="col-sm-4 col-form-label">Total Homeo Cases</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="totalHomeo" value="" placeholder="0">
            </div>
        </div>
        <div class="form-group row">
            <label for="totalTibb" class="col-sm-4 col-form-label">Total Tibb/Unani</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="totalTibb" value="" placeholder="0">
            </div>
        </div>
    </form>

    <!-- Section4-->
    <form method="POST" id="UpdateSection4">
        <h2 class="text-dark">Section IV: Cases Attending OPD (From OPD Abstract Form)</h2><br>
        <h4 class="text-dark">Respiratory Diseases</h4><br>
        <div class="form-group row">
            <label for="acuteResp" class="col-sm-4 col-form-label">Acute (upper) respiratory infections</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=acuteResp value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="pnemLT5" class="col-sm-4 col-form-label">Pneumonia < 5 yrs</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=pnemLT5 value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="pnemGT5" class="col-sm-4 col-form-label">Pneumonia > 5 yrs</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=pnemGT5 value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="tbSus" class="col-sm-4 col-form-label">TB Suspects</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=tbSus value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="chronicOPD" class="col-sm-4 col-form-label">Chronic Obstructive Pulmonary Diseases</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=chronicOPD value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="asthma" class="col-sm-4 col-form-label">Asthma</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=tbSus value="" placeholder=0>
            </div>
        </div>

        <h4 class="text-dark">Gastro Intestinal Diseases</h4><br>
        <div class="form-group row">
            <label for="diarrheaLT5" class="col-sm-4 col-form-label">Diarrhea < 5 yrs</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=diarrheaLT5 value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="dissentLT5" class="col-sm-4 col-form-label">Dysentery < 5 yrs</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=dissentLT5 value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="dirrDissent" class="col-sm-4 col-form-label">Diarrhea/Dysentery > 5 yrs</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=dirrDissent value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="enTyph" class="col-sm-4 col-form-label">Enteric/Typhoid Fever</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=enTyphs value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="worm" class="col-sm-4 col-form-label">Worm Infestations</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=worm value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="pepAcD" class="col-sm-4 col-form-label">Peptic Acid Diseases</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=pepAcD value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="bilD" class="col-sm-4 col-form-label">Biliary Disorders</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=bilD value="" placeholder=0>
            </div>
        </div>

        <h4 class="text-dark">Vector Borne Diseases</h4><br>
        <div class="form-group row">
            <label for="susMal" class="col-sm-4 col-form-label">Suspected Malaria</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=susMal value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="susDeng" class="col-sm-4 col-form-label">Suspected Dengue Fever</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=susDeng value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="susChik" class="col-sm-4 col-form-label">Suspected Chikungunya</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=susChik value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="susCut" class="col-sm-4 col-form-label">Suspected Cutaneous Leishmaniasis</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=susCut value="" placeholder=0>
            </div>
        </div>

        <h4 class="text-dark">Vaccine Preventable Diseases</h4><br>
        <div class="form-group row">
            <label for="susMea" class="col-sm-4 col-form-label">Suspected Measles</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=susMea value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="susHep" class="col-sm-4 col-form-label">Suspected Viral Hepatitis</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=susHep value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="susTet" class="col-sm-4 col-form-label">Suspected Neonatal Tetanus</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=susTet value="" placeholder=0>
            </div>
        </div>

        <h4 class="text-dark">Cardiovascular Diseases</h4><br>
        <div class="form-group row">
            <label for="isHeart" class="col-sm-4 col-form-label">Ischemic Heart Disease</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=isHeart value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="hypT" class="col-sm-4 col-form-label">Hypertension</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=hypT value="" placeholder=0>
            </div>
        </div>

        <h4 class="text-dark">Skin Diseases</h4><br>
        <div class="form-group row">
            <label for="scab" class="col-sm-4 col-form-label">Scabies</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=scab value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="derm" class="col-sm-4 col-form-label">Dermatitis</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=derm value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="fung" class="col-sm-4 col-form-label">Fungal Infection</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=fung value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="imp" class="col-sm-4 col-form-label">Impetigo</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=imp value="" placeholder=0>
            </div>
        </div>

        <h4 class="text-dark">Endocrine Diseases</h4>
        <div class="form-group row">
            <label for="dibMel" class="col-sm-4 col-form-label">Diabetes Mellitus</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=dibMel value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="goiter" class="col-sm-4 col-form-label">Goiter</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=goiter value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="hypoThyr" class="col-sm-4 col-form-label">Hypo Thyroidism</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=hypoThyr value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="hyprThyr" class="col-sm-4 col-form-label">Hyper Thyroidism</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=hypoThyr value="" placeholder=0>
            </div>
        </div>

        <h4 class="text-dark">Neuro-Psychiatric Diseases</h4>
        <div class="form-group row">
            <label for="depr" class="col-sm-4 col-form-label">Depression</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=depr value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="drugs" class="col-sm-4 col-form-label">Drug Dependence</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=drugs value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="epi" class="col-sm-4 col-form-label">Epilepsy</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=epi value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="neurDiv" class="col-sm-4 col-form-label">Children/Adolescent With Abnormal Behavior</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=neurDiv value="" placeholder=0>
            </div>
        </div>

        <h4 class="text-dark">Eye & ENT</h4>
        <div class="form-group row">
            <label for="catr" class="col-sm-4 col-form-label">Cataract</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=catr value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="trach" class="col-sm-4 col-form-label">Trachoma</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=trach value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="glauc" class="col-sm-4 col-form-label">Glaucoma</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=glauc value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="conj" class="col-sm-4 col-form-label">Conjunctivitis</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=conj value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="otMed" class="col-sm-4 col-form-label">Otitis Media</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=otMed value="" placeholder=0>
            </div>
        </div>

        <h4 class="text-dark">Oro-Dental Diseases</h4>
        <div class="form-group row">
            <label for="dentCar" class="col-sm-4 col-form-label">Dental Caries</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=dentCar value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="perDont" class="col-sm-4 col-form-label">Periodontitis</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=perDont value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="subMucFib" class="col-sm-4 col-form-label">Sub Mucosal Fibrosis</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=subMucFib value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="orUl" class="col-sm-4 col-form-label">Oral Ulcers</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=orUl value="" placeholder=0>
            </div>
        </div>         

        <h4 class="text-dark">Injuries/Poisoning</h4>
        <div class="form-group row">
            <label for="roadAcc" class="col-sm-4 col-form-label">Road Traffic Accidents</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=roadAcc value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="frac" class="col-sm-4 col-form-label">Fractures</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=frac value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="burns" class="col-sm-4 col-form-label">Burns</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=burns value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="dogBite" class="col-sm-4 col-form-label">Dog Bite</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=dogBite value="" placeholder=0>
            </div>
        </div>

        <h4 class="text-dark">Neonatal Diseases</h4>
        <div class="form-group row">
            <label for="bAsphx" class="col-sm-4 col-form-label">Birth Asphyxia</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=bAsphx value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="nnSep" class="col-sm-4 col-form-label">Neonatal Sepsis</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=nnSep value="" placeholder=0>
            </div>
        </div>

        <h4 class="text-dark">Miscellaneous Diseases</h4>
        <div class="form-group row">
            <label for="othrFev" class="col-sm-4 col-form-label">Fever due to other causes</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=othrFev value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="susMeng" class="col-sm-4 col-form-label">Suspected Meningtitis</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=susMeng value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="acuteFlac" class="col-sm-4 col-form-label">Acute Flaccid Paralysis</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=acuteFlac value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="susAIDS" class="col-sm-4 col-form-label">Suspected HIV/AIDS</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=susAids value="" placeholder=0>
            </div>
        </div>

        <h4 class="text-dark">Miscellaneous Diseases</h4>
        <div class="form-group row">
            <label for="othrFev" class="col-sm-4 col-form-label">Fever due to other causes</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=othrFev value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="susMeng" class="col-sm-4 col-form-label">Suspected Meningtitis</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=susMeng value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="acuteFlac" class="col-sm-4 col-form-label">Acute Flaccid Paralysis</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=acuteFlac value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="susAIDS" class="col-sm-4 col-form-label">Suspected HIV/AIDS</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=susAids value="" placeholder=0>
            </div>
        </div>
        
        <h4 class="text-dark">Miscellaneous Diseases</h4>
        <div class="form-group row">
            <label for="othrFev" class="col-sm-4 col-form-label">Fever due to other causes</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=othrFev value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="susMeng" class="col-sm-4 col-form-label">Suspected Meningtitis</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=susMeng value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="acuteFlac" class="col-sm-4 col-form-label">Acute Flaccid Paralysis</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=acuteFlac value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="susAIDS" class="col-sm-4 col-form-label">Suspected HIV/AIDS</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=susAids value="" placeholder=0>
            </div>
        </div>
    </form>

    <!-- Section5-->
    <form method="POST" id="UpdateSection5">
        <h2 class="text-dark">Section V: Immunization (From EPI Monthly Report of HF)</h2><br>
        <div class="form-group row">
            <label for="penVacc" class="col-sm-4 col-form-label">Children < 12 months received 3rd Pentavalent vaccine</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=penVacc value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="mslVacc" class="col-sm-4 col-form-label">Children < 12 months received 1st Measles vaccine</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=mslVacc value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="tt2" class="col-sm-4 col-form-label">Pregnant Women received TT-2 Vaccine</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=tt2 value="" placeholder=0>
            </div>
        </div>
    </form>

    <!-- Section6-->
    <form method="POST" id="UpdateSection6">
        <h2 class="text-dark">Section VI: TB-DOTS (From TB Register, TB Card TB-01)</h2><br>
        <div class="form-group row">
            <label for="afbPos" class="col-sm-4 col-form-label">Number of diagnosed cases AFB+ve / clinical/extra Pulmonary</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=afbPos value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="tbStart" class="col-sm-4 col-form-label">Number of TB cases started treatment during the month</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=tbStart value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="tbEnd" class="col-sm-4 col-form-label">Number of TB cases completed treatment during the month</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=tbEnd value="" placeholder=0>
            </div>
        </div>
    </form>    

    <!-- Section7-->
    <form method="POST" id="UpdateSection7">
        <h2 class="text-dark">Section VII: Family Planning Services (From FP Register)</h2><br>
        <div class="form-group row">
            <label for="fpNew" class="col-sm-4 col-form-label">Total FP New clients</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=fpNew value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="fpFol" class="col-sm-4 col-form-label">Total FP follow-up clients</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=fpFol value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="coc" class="col-sm-4 col-form-label">COC clients</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=coc value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="pop" class="col-sm-4 col-form-label">POP clients</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=pop value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="dmpa" class="col-sm-4 col-form-label">DMPA Inj. Clients</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=dmpa value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="enInj" class="col-sm-4 col-form-label">Net-EnInj clients</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=enInj value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="cond" class="col-sm-4 col-form-label">Condom clients</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=cond value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="iucd" class="col-sm-4 col-form-label">IUCD clients</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=iucd value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="ppiucd" class="col-sm-4 col-form-label">PPIUCD clients</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=ppiucd value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="tlc" class="col-sm-4 col-form-label">Tubal Ligation Clients</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=tlc value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="vasect" class="col-sm-4 col-form-label">Vasectomy Clients</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=vasect value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="implant" class="col-sm-4 col-form-label">Implant clients</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=implant value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="ppi" class="col-sm-4 col-form-label">PP Implant clients</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=ppi value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="fpCouns" class="col-sm-4 col-form-label">Counseling provided on FP</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=fpCouns value="" placeholder=0>
            </div>
        </div>
    </form>    

    <!-- Section8-->
    <form method="POST" id="UpdateSection8">
        <h2 class="text-dark">Section VIII: Maternal and Newborn Health (From Maternal Health & Obstretic registers)</h2><br>
        <div class="form-group row">
            <label for="anc1" class="col-sm-4 col-form-label">ANC-1</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=anc1 value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="anc1w" class="col-sm-4 col-form-label">ANC-1 women with Hb. < 10 g/dl </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=anc1w value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="anc2" class="col-sm-4 col-form-label">ANC-2</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=anc2 value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="anc3" class="col-sm-4 col-form-label">ANC-3</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=anc3 value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="anc4" class="col-sm-4 col-form-label">ANC-4 or More</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=anc4 value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="pnc1" class="col-sm-4 col-form-label">PNC-1</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=pnc1 value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="pnc2" class="col-sm-4 col-form-label">PNC-2</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=pnc2 value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="pnc3" class="col-sm-4 col-form-label">PNC-3</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=pnc3 value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="pnc4" class="col-sm-4 col-form-label">PNC-4</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=pnc4 value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="anc2" class="col-sm-4 col-form-label">Malnourished Pregnant women (ANC-1)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=anc2 value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="mlwANC" class="col-sm-4 col-form-label">Malnourished Lactating women (ANC-1)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=mlwANC value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="mlwPNC" class="col-sm-4 col-form-label">Malnourished Lactating women (PNC-1)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=mlwPNC value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="pwMis" class="col-sm-4 col-form-label">PW given Misoprostol Tablets</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=pwMis value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="nvd" class="col-sm-4 col-form-label">Normal Vaginal Deliveries</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=nvd value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="aDel" class="col-sm-4 col-form-label">Assisted Deliveries</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=aDel value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="cSec" class="col-sm-4 col-form-label">Cesarean Sections</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=cSec value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="tlb" class="col-sm-4 col-form-label">Total Live births</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=tlb value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="lbLBW" class="col-sm-4 col-form-label">Live births with LBW (< 2.5kg)</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=lbLBW value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="plb" class="col-sm-4 col-form-label">Preterm Live births</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=plb value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="bAs" class="col-sm-4 col-form-label">Birth Asphyxia</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=bAs value="" placeholder=0>
            </div>
        </div> 
        <div class="form-group row">
            <label for="nnS" class="col-sm-4 col-form-label">Neonatal Sepsis</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=nNS value="" placeholder=0>
            </div>
        </div>                
        <div class="form-group row">
            <label for="sb" class="col-sm-4 col-form-label">Stillbirths</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=sb value="" placeholder=0>
            </div>
        </div>                               
        <div class="form-group row">
            <label for="nnrC" class="col-sm-4 col-form-label">Neonates received Chlorohexidine</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=nnrC value="" placeholder=0>
            </div>
        </div>                
        <div class="form-group row">
            <label for="nnD" class="col-sm-4 col-form-label">Neonatal deaths in the facility</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=nnD value="" placeholder=0>
            </div>
        </div>                
        <div class="form-group row">
            <label for="wppiucd" class="col-sm-4 col-form-label">Women Referred for PPIUCD</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=wppiucd value="" placeholder=0>
            </div>
        </div>                
    </form>

    <!-- Section9-->
    <form method="POST" id="UpdateSection9">
        <h2 class="text-dark">Section IX: Community Meetings (From Community Meetings Register)</h2><br>
        <div class="form-group row">
            <label for="numMeet" class="col-sm-4 col-form-label">Number of community meetings</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=numMeet value="" placeholder=0>
            </div>
        </div>
        <div class="form-group row">
            <label for="numHS" class="col-sm-4 col-form-label">Number of Health Education Sessions</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id=numHS value="" placeholder=0>
            </div>
        </div>
    </form>    
    

    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Save</a>
    <a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Cancel</a>         

</main>
<!-- include footer -->
    <%- include(`include/_footer`) %> 
<!-- /include footer -->

</html>