<!-- Section7-->
<form method="POST" id="section7">
    <h2 class="text-dark">Section VII: Family Planning Services (From FP Register)</h2><br>
    <div class="form-group row">
        <label for="fpNew" class="col-sm-4 col-form-label">Total FP New clients</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=fpNew value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="fpFol" class="col-sm-4 col-form-label">Total FP follow-up clients</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=fpFol value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="coc" class="col-sm-4 col-form-label">COC clients</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=coc value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="pop" class="col-sm-4 col-form-label">POP clients</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=pop value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="dmpa" class="col-sm-4 col-form-label">DMPA Inj. Clients</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=dmpa value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="enInj" class="col-sm-4 col-form-label">Net-EnInj clients</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=enInj value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="cond" class="col-sm-4 col-form-label">Condom clients</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=cond value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="iucd" class="col-sm-4 col-form-label">IUCD clients</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=iucd value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="ppiucd" class="col-sm-4 col-form-label">PPIUCD clients</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=ppiucd value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="tlc" class="col-sm-4 col-form-label">Tubal Ligation Clients</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=tlc value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="vasect" class="col-sm-4 col-form-label">Vasectomy Clients</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=vasect value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="implant" class="col-sm-4 col-form-label">Implant clients</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=implant value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="ppi" class="col-sm-4 col-form-label">PP Implant clients</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=ppi value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="fpCouns" class="col-sm-4 col-form-label">Counseling provided on FP</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=fpCouns value="" placeholder=0>
        </div>
    </div>
</form>    