<!-- Section1-->
<form method="POST" id="section1">
    <h2 class="text-dark">Section I: Identification</h2><br>
    <div class="form-group row">
        <label for="facility_id" class="col-sm-2 col-form-label">Facility ID</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="facility_id" value="" placeholder=>
        </div>
    </div>
    <div class="form-group row">
        <label for="facility_name" class="col-sm-2 col-form-label">Facility Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="facility_name" value="" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label for="taluka" class="col-sm-2 col-form-label">Taluka</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="taluka" value="" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label for="facility_incharge" class="col-sm-2 col-form-label">Name of Facility In-charge:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="facility_incharge" value="" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label for="facility_name" class="col-sm-2 col-form-label">Facility Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="facility_name" value="" placeholder="">
        </div>
    </div>
</form>