<!-- Section3-->
<form method="POST" id="section3">
    <h2 class="text-dark">Section III: Outpatients Attendance (From OPD Register)</h2><br>
    <h4 class="text-dark">Male</h4><br>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="male1month"> < 1 Month </label>
            <input type="text" class="form-control" id = male1month placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="male1211"> 1-11 Months </label>
            <input type="text" class="form-control" id = male1211 placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="male124yr"> 1-4 Years </label>
            <input type="text" class="form-control" id = male124ye placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="male5214yr"> 5-14 years </label>
            <input type="text" class="form-control" id = male5214yr placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="male15249yr"> 15-49 years </label>
            <input type="text" class="form-control" id = male15249yr placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="male50yr"> 50+ years </label>
            <input type="text" class="form-control" id = male50yr placeholder="0">
        </div>
        <div class="form-group col-md-4">
            <label for="maleTotal"> Total </label>
            <input type="text" class="form-control" id = maleTotal placeholder="0">
        </div>
    </div>

    <h4 class="text-dark">Female</h4><br>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="female1month"> < 1 Month </label>
            <input type="text" class="form-control" id = female1month placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="female1211"> 1-11 Months </label>
            <input type="text" class="form-control" id = female1211 placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="female124yr"> 1-4 Years </label>
            <input type="text" class="form-control" id = female124ye placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="female5214yr"> 5-14 years </label>
            <input type="text" class="form-control" id = female5214yr placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="female15249yr"> 15-49 years </label>
            <input type="text" class="form-control" id = female15249yr placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="female50yr"> 50+ years </label>
            <input type="text" class="form-control" id = female50yr placeholder="0">
        </div>
        <div class="form-group col-md-4">
            <label for="femaleTotal"> Total </label>
            <input type="text" class="form-control" id = femaleTotal placeholder="0">
        </div>
    </div>

    <h4 class="text-dark">Grand Total</h4><br>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="gt1month"> < 1 Month </label>
            <input type="text" class="form-control" id = gtmale1month placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="gt1211"> 1-11 Months </label>
            <input type="text" class="form-control" id = gtmale1211 placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="gt124yr"> 1-4 Years </label>
            <input type="text" class="form-control" id = gt124ye placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="gt5214yr"> 5-14 years </label>
            <input type="text" class="form-control" id = gt5214yr placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="gt15249yr"> 15-49 years </label>
            <input type="text" class="form-control" id = gt15249yr placeholder="0">
        </div>
        <div class="form-group col-md-2">
            <label for="gt50yr"> 50+ years </label>
            <input type="text" class="form-control" id = gt50yr placeholder="0">
        </div>
        <div class="form-group col-md-4">
            <label for="gtTotal"> Grand Total </label>
            <input type="text" class="form-control" id = gtTotal placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <label for="followupCases" class="col-sm-4 col-form-label">Follow-up cases</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="followupCases" value="" placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <label for="referredCasesAttended" class="col-sm-4 col-form-label">Referred Cases Attended</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="referredCasesAttended" value="" placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <label for="malnutrition" class="col-sm-4 col-form-label">No. of cases of Malnutrition < 5 Yrs
            children (Acute (low weight for age) )</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="malnutrition" value="" placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <label for="malnutrition1" class="col-sm-4 col-form-label">No. of cases of Malnutrition < 5 Yrs children (Acute -
            MUAC < 12.5 cm) </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="malnutrition1" value="" placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <label for="malnutrition2" class="col-sm-4 col-form-label">No. of cases of Malnutrition < 5 Yrs
            children (Chronic (short height for age) </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="malnutrition2" value="" placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <label for="totalHomeo" class="col-sm-4 col-form-label">Total Homeo Cases</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="totalHomeo" value="" placeholder="0">
        </div>
    </div>
    <div class="form-group row">
        <label for="totalTibb" class="col-sm-4 col-form-label">Total Tibb/Unani</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="totalTibb" value="" placeholder="0">
        </div>
    </div>
</form>