<!-- Section2-->
<form method="POST" id="section2">
    <h2 class="text-dark">Section II: Monthly Performance %</h2><br>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="opdAttendance">OPD Attendance</label>
            <input type="text" class="form-control" id = opdAttendance placeholder="Monthly Target">
        </div>
        <div class="form-group col-md-5">
            <label for="opdAttendance1">&nbsp</label>
            <input type="text" class="form-control" id = opdAttendance1 placeholder="Performance">
        </div>                
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="measlesVaccine">Children < 12 months received 1st Measles vaccine </label>
            <input type="text" class="form-control" id = measlesVaccine placeholder="Monthly Target">
        </div>
        <div class="form-group col-md-5">
            <label for="measlesVaccine1">&nbsp</label>
            <input type="text" class="form-control" id = measlesVaccine1 placeholder="Performance">
        </div>                
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="opdAttendance">Antenatal Care (ANC-1) coverage</label>
            <input type="text" class="form-control" id = opdAttendance placeholder="Monthly Target">
        </div>
        <div class="form-group col-md-5">
            <label for="opdAttendance1">&nbsp</label>
            <input type="text" class="form-control" id = opdAttendance1 placeholder="Performance">
        </div>                
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="opdAttendance">Total FP clients (New + Follow-up)</label>
            <input type="text" class="form-control" id = opdAttendance placeholder="Monthly Target">
        </div>
        <div class="form-group col-md-5">
            <label for="opdAttendance1">&nbsp</label>
            <input type="text" class="form-control" id = opdAttendance1 placeholder="Performance">
        </div>                
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="opdAttendance">Delivery coverage at facility</label>
            <input type="text" class="form-control" id = opdAttendance placeholder="Monthly Target">
        </div>
        <div class="form-group col-md-5">
            <label for="opdAttendance1">&nbsp</label>
            <input type="text" class="form-control" id = opdAttendance1 placeholder="Performance">
        </div>                
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="opdAttendance">Monthly report data accuracy</label>
            <input type="text" class="form-control" id = opdAttendance placeholder="Monthly Target">
        </div>
        <div class="form-group col-md-5">
            <label for="opdAttendance1">&nbsp</label>
            <input type="text" class="form-control" id = opdAttendance1 placeholder="Performance">
        </div>                
    </div>
</form>