<!-- Section6-->
<form method="POST" id="section6">
    <h2 class="text-dark">Section VI: TB-DOTS (From TB Register, TB Card TB-01)</h2><br>
    <div class="form-group row">
        <label for="afbPos" class="col-sm-4 col-form-label">Number of diagnosed cases AFB+ve / clinical/extra Pulmonary</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=afbPos value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="tbStart" class="col-sm-4 col-form-label">Number of TB cases started treatment during the month</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=tbStart value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="tbEnd" class="col-sm-4 col-form-label">Number of TB cases completed treatment during the month</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=tbEnd value="" placeholder=0>
        </div>
    </div>
</form>    