<!-- Section9-->
<form method="POST" id="section9">
    <h2 class="text-dark">Section IX: Community Meetings (From Community Meetings Register)</h2><br>
    <div class="form-group row">
        <label for="numMeet" class="col-sm-4 col-form-label">Number of community meetings</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=numMeet value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="numHS" class="col-sm-4 col-form-label">Number of Health Education Sessions</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=numHS value="" placeholder=0>
        </div>
    </div>
</form>    