<!-- Section8-->
<form method="POST" id="section8">
    <h2 class="text-dark">Section VIII: Maternal and Newborn Health (From Maternal Health & Obstretic registers)</h2><br>
    <div class="form-group row">
        <label for="anc1" class="col-sm-4 col-form-label">ANC-1</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=anc1 value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="anc1w" class="col-sm-4 col-form-label">ANC-1 women with Hb. < 10 g/dl </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=anc1w value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="anc2" class="col-sm-4 col-form-label">ANC-2</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=anc2 value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="anc3" class="col-sm-4 col-form-label">ANC-3</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=anc3 value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="anc4" class="col-sm-4 col-form-label">ANC-4 or More</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=anc4 value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="pnc1" class="col-sm-4 col-form-label">PNC-1</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=pnc1 value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="pnc2" class="col-sm-4 col-form-label">PNC-2</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=pnc2 value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="pnc3" class="col-sm-4 col-form-label">PNC-3</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=pnc3 value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="pnc4" class="col-sm-4 col-form-label">PNC-4</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=pnc4 value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="anc2" class="col-sm-4 col-form-label">Malnourished Pregnant women (ANC-1)</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=anc2 value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="mlwANC" class="col-sm-4 col-form-label">Malnourished Lactating women (ANC-1)</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=mlwANC value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="mlwPNC" class="col-sm-4 col-form-label">Malnourished Lactating women (PNC-1)</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=mlwPNC value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="pwMis" class="col-sm-4 col-form-label">PW given Misoprostol Tablets</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=pwMis value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="nvd" class="col-sm-4 col-form-label">Normal Vaginal Deliveries</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=nvd value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="aDel" class="col-sm-4 col-form-label">Assisted Deliveries</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=aDel value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="cSec" class="col-sm-4 col-form-label">Cesarean Sections</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=cSec value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="tlb" class="col-sm-4 col-form-label">Total Live births</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=tlb value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="lbLBW" class="col-sm-4 col-form-label">Live births with LBW (< 2.5kg)</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=lbLBW value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="plb" class="col-sm-4 col-form-label">Preterm Live births</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=plb value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="bAs" class="col-sm-4 col-form-label">Birth Asphyxia</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=bAs value="" placeholder=0>
        </div>
    </div> 
    <div class="form-group row">
        <label for="nnS" class="col-sm-4 col-form-label">Neonatal Sepsis</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=nNS value="" placeholder=0>
        </div>
    </div>                
    <div class="form-group row">
        <label for="sb" class="col-sm-4 col-form-label">Stillbirths</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=sb value="" placeholder=0>
        </div>
    </div>                               
    <div class="form-group row">
        <label for="nnrC" class="col-sm-4 col-form-label">Neonates received Chlorohexidine</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=nnrC value="" placeholder=0>
        </div>
    </div>                
    <div class="form-group row">
        <label for="nnD" class="col-sm-4 col-form-label">Neonatal deaths in the facility</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=nnD value="" placeholder=0>
        </div>
    </div>                
    <div class="form-group row">
        <label for="wppiucd" class="col-sm-4 col-form-label">Women Referred for PPIUCD</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=wppiucd value="" placeholder=0>
        </div>
    </div>                
</form>
