<!-- Section5-->
<form method="POST" id="section5">
    <h2 class="text-dark">Section V: Immunization (From EPI Monthly Report of HF)</h2><br>
    <div class="form-group row">
        <label for="penVacc" class="col-sm-4 col-form-label">Children < 12 months received 3rd Pentavalent vaccine</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=penVacc value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="mslVacc" class="col-sm-4 col-form-label">Children < 12 months received 1st Measles vaccine</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=mslVacc value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="tt2" class="col-sm-4 col-form-label">Pregnant Women received TT-2 Vaccine</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=tt2 value="" placeholder=0>
        </div>
    </div>
</form>