<!-- Section4-->
<form method="POST" id="section4">
    <h2 class="text-dark">Section IV: Cases Attending OPD (From OPD Abstract Form)</h2><br>
    <h4 class="text-dark">Respiratory Diseases</h4><br>
    <div class="form-group row">
        <label for="acuteResp" class="col-sm-4 col-form-label">Acute (upper) respiratory infections</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=acuteResp value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="pnemLT5" class="col-sm-4 col-form-label">Pneumonia < 5 yrs</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=pnemLT5 value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="pnemGT5" class="col-sm-4 col-form-label">Pneumonia > 5 yrs</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=pnemGT5 value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="tbSus" class="col-sm-4 col-form-label">TB Suspects</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=tbSus value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="chronicOPD" class="col-sm-4 col-form-label">Chronic Obstructive Pulmonary Diseases</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=chronicOPD value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="asthma" class="col-sm-4 col-form-label">Asthma</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=tbSus value="" placeholder=0>
        </div>
    </div>

    <h4 class="text-dark">Gastro Intestinal Diseases</h4><br>
    <div class="form-group row">
        <label for="diarrheaLT5" class="col-sm-4 col-form-label">Diarrhea < 5 yrs</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=diarrheaLT5 value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="dissentLT5" class="col-sm-4 col-form-label">Dysentery < 5 yrs</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=dissentLT5 value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="dirrDissent" class="col-sm-4 col-form-label">Diarrhea/Dysentery > 5 yrs</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=dirrDissent value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="enTyph" class="col-sm-4 col-form-label">Enteric/Typhoid Fever</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=enTyphs value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="worm" class="col-sm-4 col-form-label">Worm Infestations</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=worm value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="pepAcD" class="col-sm-4 col-form-label">Peptic Acid Diseases</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=pepAcD value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="bilD" class="col-sm-4 col-form-label">Biliary Disorders</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=bilD value="" placeholder=0>
        </div>
    </div>

    <h4 class="text-dark">Vector Borne Diseases</h4><br>
    <div class="form-group row">
        <label for="susMal" class="col-sm-4 col-form-label">Suspected Malaria</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=susMal value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="susDeng" class="col-sm-4 col-form-label">Suspected Dengue Fever</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=susDeng value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="susChik" class="col-sm-4 col-form-label">Suspected Chikungunya</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=susChik value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="susCut" class="col-sm-4 col-form-label">Suspected Cutaneous Leishmaniasis</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=susCut value="" placeholder=0>
        </div>
    </div>

    <h4 class="text-dark">Vaccine Preventable Diseases</h4><br>
    <div class="form-group row">
        <label for="susMea" class="col-sm-4 col-form-label">Suspected Measles</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=susMea value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="susHep" class="col-sm-4 col-form-label">Suspected Viral Hepatitis</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=susHep value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="susTet" class="col-sm-4 col-form-label">Suspected Neonatal Tetanus</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=susTet value="" placeholder=0>
        </div>
    </div>

    <h4 class="text-dark">Cardiovascular Diseases</h4><br>
    <div class="form-group row">
        <label for="isHeart" class="col-sm-4 col-form-label">Ischemic Heart Disease</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=isHeart value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="hypT" class="col-sm-4 col-form-label">Hypertension</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=hypT value="" placeholder=0>
        </div>
    </div>

    <h4 class="text-dark">Skin Diseases</h4><br>
    <div class="form-group row">
        <label for="scab" class="col-sm-4 col-form-label">Scabies</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=scab value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="derm" class="col-sm-4 col-form-label">Dermatitis</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=derm value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="fung" class="col-sm-4 col-form-label">Fungal Infection</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=fung value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="imp" class="col-sm-4 col-form-label">Impetigo</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=imp value="" placeholder=0>
        </div>
    </div>

    <h4 class="text-dark">Endocrine Diseases</h4>
    <div class="form-group row">
        <label for="dibMel" class="col-sm-4 col-form-label">Diabetes Mellitus</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=dibMel value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="goiter" class="col-sm-4 col-form-label">Goiter</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=goiter value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="hypoThyr" class="col-sm-4 col-form-label">Hypo Thyroidism</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=hypoThyr value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="hyprThyr" class="col-sm-4 col-form-label">Hyper Thyroidism</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=hypoThyr value="" placeholder=0>
        </div>
    </div>

    <h4 class="text-dark">Neuro-Psychiatric Diseases</h4>
    <div class="form-group row">
        <label for="depr" class="col-sm-4 col-form-label">Depression</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=depr value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="drugs" class="col-sm-4 col-form-label">Drug Dependence</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=drugs value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="epi" class="col-sm-4 col-form-label">Epilepsy</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=epi value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="neurDiv" class="col-sm-4 col-form-label">Children/Adolescent With Abnormal Behavior</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=neurDiv value="" placeholder=0>
        </div>
    </div>

    <h4 class="text-dark">Eye & ENT</h4>
    <div class="form-group row">
        <label for="catr" class="col-sm-4 col-form-label">Cataract</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=catr value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="trach" class="col-sm-4 col-form-label">Trachoma</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=trach value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="glauc" class="col-sm-4 col-form-label">Glaucoma</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=glauc value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="conj" class="col-sm-4 col-form-label">Conjunctivitis</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=conj value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="otMed" class="col-sm-4 col-form-label">Otitis Media</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=otMed value="" placeholder=0>
        </div>
    </div>

    <h4 class="text-dark">Oro-Dental Diseases</h4>
    <div class="form-group row">
        <label for="dentCar" class="col-sm-4 col-form-label">Dental Caries</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=dentCar value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="perDont" class="col-sm-4 col-form-label">Periodontitis</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=perDont value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="subMucFib" class="col-sm-4 col-form-label">Sub Mucosal Fibrosis</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=subMucFib value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="orUl" class="col-sm-4 col-form-label">Oral Ulcers</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=orUl value="" placeholder=0>
        </div>
    </div>         

    <h4 class="text-dark">Injuries/Poisoning</h4>
    <div class="form-group row">
        <label for="roadAcc" class="col-sm-4 col-form-label">Road Traffic Accidents</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=roadAcc value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="frac" class="col-sm-4 col-form-label">Fractures</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=frac value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="burns" class="col-sm-4 col-form-label">Burns</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=burns value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="dogBite" class="col-sm-4 col-form-label">Dog Bite</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=dogBite value="" placeholder=0>
        </div>
    </div>

    <h4 class="text-dark">Neonatal Diseases</h4>
    <div class="form-group row">
        <label for="bAsphx" class="col-sm-4 col-form-label">Birth Asphyxia</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=bAsphx value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="nnSep" class="col-sm-4 col-form-label">Neonatal Sepsis</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=nnSep value="" placeholder=0>
        </div>
    </div>

    <h4 class="text-dark">Miscellaneous Diseases</h4>
    <div class="form-group row">
        <label for="othrFev" class="col-sm-4 col-form-label">Fever due to other causes</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=othrFev value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="susMeng" class="col-sm-4 col-form-label">Suspected Meningtitis</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=susMeng value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="acuteFlac" class="col-sm-4 col-form-label">Acute Flaccid Paralysis</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=acuteFlac value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="susAIDS" class="col-sm-4 col-form-label">Suspected HIV/AIDS</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=susAids value="" placeholder=0>
        </div>
    </div>

    <h4 class="text-dark">Miscellaneous Diseases</h4>
    <div class="form-group row">
        <label for="othrFev" class="col-sm-4 col-form-label">Fever due to other causes</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=othrFev value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="susMeng" class="col-sm-4 col-form-label">Suspected Meningtitis</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=susMeng value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="acuteFlac" class="col-sm-4 col-form-label">Acute Flaccid Paralysis</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=acuteFlac value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="susAIDS" class="col-sm-4 col-form-label">Suspected HIV/AIDS</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=susAids value="" placeholder=0>
        </div>
    </div>
    
    <h4 class="text-dark">Miscellaneous Diseases</h4>
    <div class="form-group row">
        <label for="othrFev" class="col-sm-4 col-form-label">Fever due to other causes</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=othrFev value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="susMeng" class="col-sm-4 col-form-label">Suspected Meningtitis</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=susMeng value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="acuteFlac" class="col-sm-4 col-form-label">Acute Flaccid Paralysis</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=acuteFlac value="" placeholder=0>
        </div>
    </div>
    <div class="form-group row">
        <label for="susAIDS" class="col-sm-4 col-form-label">Suspected HIV/AIDS</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id=susAids value="" placeholder=0>
        </div>
    </div>
</form>